body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(0, 163, 180);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}


nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav ul li a:hover {
    color: #ff6e22
}



.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type=text] {
    padding: 10px 90px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px solid;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}

.container-fluid{
    background-color: rgb(0, 163, 180);
}

